:root {
    --clr-primary: #111111;
    --clr-secondary: #5E5E5E;
    --clr-neutral: #ffffff;

    --fw-bold: 700;
    --fv-regular: 400;
}



 /* ==========
    General
    ========== */

 /* element styles */
h1,
h2,
h3,
p,
li,
a, {
    color: var(--clr-primary);
}
