.about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.about-large {
    display: none;
}

.about__cta {
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
}

.about__cta a {
    font-size: 2.5rem;
}

.about__cta .btn {
    align-items: center;
    gap: 1rem;
    justify-content: center;
    min-width: 20.2rem;
    padding: 1rem 3.5rem;
}

.about p {
    text-align: center;
    font-size: 2.1rem;
}

#about-sect {
    padding-left: 6rem;   
    padding-right: 6rem;   
    justify-content: center;
    align-items: center;
}

.project {
    align-items: flex-start;
    flex-direction: column;
    gap: 7.5rem;
}

.project__links {
    align-items: flex-start;
    gap: 2rem;
}

.project__title {
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

.project p {
    align-items: center;
    justify-content: center;
}

.project__stack {
    align-items: flex-start;
    gap: 3.6rem;
}

.project__stack li {
    align-items: center;
    justify-content: center;
}

#project-sect {
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}


